<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Northwind</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static',path='/css/base.css') }}" \>
    <link type="text/css" rel="stylesheet" href="{{url_for('static',path='/css_k/bootstrap.css') }}" \>
    <script src="{{url_for('static',path='/js_k/bootstrap.bundle.js') }}"></script>
  {% block style_block %}

  {% endblock %}


</head>
<body>
  {% include "partials/offcanvas_navbar.html" %}
  <div class="p-3 m-1"></div>
  {% block content %}

  {% endblock %}
  <div aria-live="polite" aria-atomic="true" class="position-relative">
  <div class="toast-container top-0 end-0 p-3">
  </div>
  </div>

{% block js_block %}
<script src="{{url_for('static',path='js/bs_toast.js') }}" defer></script>
  {% endblock %}
</body>
</html>