<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Northwind</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static',path='/css/base.css') }}" \>
    <link type="text/css" rel="stylesheet" href="{{url_for('static',path='/css_k/bootstrap.css') }}" \>
    <script src="{{url_for('static',path='/js_k/bootstrap.bundle.js') }}"></script>
  {% block style_block %}

  {% endblock %}


</head>
<body>
  {% block content %}

  {% endblock %}


{% block js_block %}
  {% endblock %}
</body>
</html>