{% include "partials/layout.html" %}

{% block style_block %}

<style>
    .draw-border{
        border:1px solid yellow;

    }
    .draw-border2{
        border:1px solid red;

    }
    #filter_form{
        width:60vw;
        margin:auto;
    }
</style>

{% endblock %}

{% block content %}

<br>


<span style="display:none" id="page_num_id">{{helper_fields.page}}</span>
<span style="display:none" id="total_pages">{{helper_fields.total_pages}}</span>
<span style="display:none" id="page_size">{{helper_fields.size}}</span>
<table class="table table-dark" class="">
  <thead>
    <th>Serial No</th>
    <th>Product</th>
    <th>Units in stock</th>
    <th>Unit price ($)</th>
    <th>Unit on Order</th>
    <th>Supplier</th>
    <th>Category</th>
  </thead>
  <tbody id="productTableBody">
  {% for e in result_psc %}
        <tr class="table-active">
            <th scope="row">{{ loop.index +  (helper_fields.size*(helper_fields.page-1)) | int }}</th>
            <td><a href="id/{{ e.Products.product_id }}/html">{{ e.Products.product_name }}</a></td>
            <td>{{ e.Products.unit_in_stock }}</td>
            <td>{{ e.Products.unit_price }}</td>
            <td>{{e.Products.unit_on_order}}</td>
            <td><a href="/supplier/{{e.Suppliers.supplier_id}}">{{ e.Suppliers.company_name }}</a></td>
            <td><a href="/category/{{e.Categories.category_id}}">{{ e.Categories.category_name }}</a></td>
<!--            <td>-->
<!--                <button onclick="window.location.href='/products/{{ user.id }}'" type="button"-->
<!--                class="btn btn-info">-->
<!--                Edit-->
<!--                </button>-->
<!--            </td>-->
        </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center" id="paginationWrapper">
    <li class="page-item disabled" id="prevBtnItem">
        <button class="page-link" id="prevBtn">Previous</button>
    </li>

        <li class="page-item" id="pageTemplate" href=""><a class="page-link" href="/inventory/products/html?page=1&size=10" data-page="1">1</a></li>


    <li class="page-item disabled" id="nextBtnItem">
        <button class="page-link" id="nextBtn">Next</button>
    </li>
</ul>
</nav>
<!-- Filter Section-->
<!-- -->
<!-- -->


<section id="filter_form">
    <form class="row g-3 needs-validation" novalidate>
    <!-- Product Name -->
        <!-- below filter row is for {field,operator,value} and adjacent is row for int-->
    <div class="col-12 filter-row draw-border"> <div class="row draw-border2" >

    <div class="col-md-4">

        <label for="field_name_filter" class="form-label">
            Field Name
        </label>

        <input
            type="text"
            class="form-control"
            name="field"
            id="field_name_filter"
            placeholder="field name"
            value="product_name"
            readonly
        >
    </div>

    <!-- Product Name Operator -->
    <div class="col-md-2">
        <label for="field_operator1" class="form-label">
            Operator
        </label>

        <select
            class="form-select"
            name="operator"
            id="field_operator1"
        >
            <option value="eq">Equals</option>
            <option value="contains">Contains</option>
            <option value="startswith">Starts With</option>
            <option value="endswith">Ends With</option>
        </select>
    </div>



    <!-- Product Name Value -->
    <div class="col-md-6">
        <label for="field_value" class="form-label">
            Value
        </label>

        <input
            type="text"
            class="form-control"
            name="value"
            id="field_value"
            placeholder="Enter product name"
            value="Tofu"
        >
    </div>

    </div></div> <!-- end of internal row,end of filter row -->



    <div class="col-12 filter-row draw-border"><div class="row draw-border2">

        <!-- Unit Price Field -->
        <div class="col-md-4">
        <label for="unit_price_field" class="form-label">
            Unit Price
        </label>

        <input
            type="text"
            class="form-control"
            id="unit_price_field"
            name="field"
            value="unit_price"
            readonly
        >
    </div>

    <!-- Unit Price Operator -->
    <div class="col-md-2">
        <label for="unit_price_operator" class="form-label">
            Operator
        </label>

        <select
            class="form-select"
            name="operator"
            id="unit_price_operator"
        >
            <option value="eq">Equals</option>
            <option value="gt">Greater Than</option>
            <option value="gte">Greater Than Equal</option>
            <option value="lt">Less Than</option>
            <option value="lte">Less Than Equal</option>
        </select>
    </div>

    <!-- Unit Price Value -->
    <div class="col-md-6">
        <label for="unit_price_value" class="form-label">
            Value
        </label>

        <input
            type="number"
            step="0.01"
            class="form-control"
            id="unit_price_value"
            placeholder="Enter price"
            value="10"
            name="value"
        >
    </div>

    </div></div> <!-- end of internal row,end of filter row -->
    <!-- Submit -->
    <div class="col-12">
        <button class="btn btn-primary" type="submit">
            Apply Filters
        </button>
    </div>

</form>


</section>

{% endblock %}

{% block js_block %}
<script src="{{url_for('static',path='js/filter_form.js') }}" defer></script>
<script src="{{url_for('static',path='js/product.js') }}" defer></script>

{% endblock %}