{% extends "/partials/layout.html" %}


    {% block style_block %}
    <link type="text/css" rel="stylesheet" href="{{url_for('static',path='/css/login.css') }}" \>
    {% endblock %}

    {% block js_block %}
    <script src="{{url_for('static',path='js_k/bootstrap.bundle.js') }}"></script>
    <script src="{{url_for('static',path='js/login.js') }}" defer></script>
    <script src="{{url_for('static',path='js/login_request.js') }}" defer></script>
    {% endblock js_block %}



    {% block content %}
    <section id="login_page">
        <div id="leftportion" class=" draw-border">
            <div></div>
            <div></div>



        </div>
        <div id="rightportion" class="draw-border">
            <div id="login_company_div" class="d-flex justify-content-center">
                <img src="{{url_for('static',path='/images/northwind.png') }}">
          </div>
            <form id="loginform">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp">

              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br>
            <a href="/auth/register">Create an Account, Register!</a>

        </div>
        <div id="bottomportion" class="draw-border">
            <div id="moving_text" class=" draw-border">
                Examples and usage guidelines for form control styles, layout options, and custom components for creating a wide variety of forms.
            </div>
        </div>
        <div></div>
    </section>

{% endblock %}
